<a href="https://colab.research.google.com/github/pepper29/algorithm/blob/master/%EA%B0%80%EC%9E%A5_%ED%81%B0_%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
문제 설명
0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.

예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.

0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.

제한 사항
numbers의 길이는 1 이상 100,000 이하입니다.
numbers의 원소는 0 이상 1,000 이하입니다.
정답이 너무 클 수 있으니 문자열로 바꾸어 return 합니다.
입출력 예
numbers	return
[6, 10, 2]	"6210"
[3, 30, 34, 5, 9]	"9534330"
※ 공지 - 2021년 10월 20일 테스트케이스가 추가되었습니다.

In [ ]:
# numers의 원소는 1000이하이기에 일의 자리를 3번 제곱하면 그정도가 된다.
def solution(numbers):
    numbers = [str(x) for x in numbers]
    #print(numbers)
    numbers.sort(key = lambda x:x*3, reverse=True)
    #print(numbers)
    answer = "".join(numbers)

    # 000일때의 조건 처리
    if answer[0] == "0":
        return "0"

    #print(answer)
    return answer